data/configs/ombi/*
!data/configs/ombi/.gitkeep
data/configs/plex/config/*
!data/configs/plex/config/.gitkeep
data/configs/plex/transcoding/*
!data/configs/plex/transcoding/.gitkeep
data/configs/radarr/*
!data/configs/radarr/.gitkeep
data/configs/radarr-bot/*
!data/configs/radarr-bot/.gitkeep
data/configs/sabnzbd/*
!data/configs/sabnzbd/.gitkeep
data/configs/sonarr/*
!data/configs/sonarr/.gitkeep
data/configs/sonarr-bot/*
!data/configs/sonarr-bot/.gitkeep
data/configs/muximux/*
!data/configs/muximux/.gitkeep
data/downloads/*
!data/downloads/.gitkeep
data/incomplete-downloads/*
!data/incomplete-downloads/.gitkeep
data/media
.env
